/* CSS goes here */

body {
    height: 100%;
    margin: 0;
    overflow-y: hidden;
    padding: 0;
    vertical-align: top;
    width: 100%;
}

.mainPanel {
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.gamePanel {
    background: #eee;
    display: inline-block;
    height: 100%;
    position: relative;
    width: 59%;
}

#gameCanvas {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}

.codingPanel {
    display: inline-block;
    height: 100%;
    width: 40%;
}

#editor {
  width: 100%;
  height: calc(100% - 50px);
  font-size: 18px;
}

#editor_bar {
  width: 100%;
  height: 50px;
  background-color: #4567b4;
  position: relative;
}

#run {
  height: 100%;
  width: 120px;
  text-align: middle;
  color: white;
  position: absolute;
  right: 0;
  background-color: #8999ef;
  border: 0;
  border-left: 5px solid #abcbff;
}
