/* CSS goes here */

#editor {
    height: 100%;
    position: relative;
}

body {
    height: 100%;
    margin: 0;
    overflow-y: hidden;
    padding: 0;
    vertical-align: top;
    width: 100%;
}

.mainPanel {
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.gamePanel {
    background: #2980b9;
    display: inline-block;
    height: 100%;
    width: 59%;
}

#gameCanvas {
    background: #34495e;
    margin: 5px;
    position: relative;
}

.codingPanel {
    background: #27ae60;
    display: inline-block;
    height: 100%;
    width: 40%;
}
